* {
  box-sizing: border-box;
}

/* Body */

body {
  background: #2c3e50;
  cursor: url('../images/fishing-rod.png'), auto;
}

a {
  color: white;
}

a:focus {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #18bc9c;
  text-decoration: none;
}

/* Header */

header {
  position: relative;
  z-index: 1;
}

header .container {
  position: relative;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  z-index: 1000;
  position: absolute;;
}

.genericon-menu {
  display: none;
  color: white;
  right: 15px;
  top: 15px;
  position: absolute;
}

#menuToggle
{
  display: none;
  color: white;
  right: 15px;
  top: 15px;
  position: absolute;
}

#menuToggle.toggled .genericon:before {
	content: '\f406';
}


header .genericon:not(#menuToggle) {
  font-size: 15px !important;
  vertical-align: bottom;
}

header .genericon-uparrow {
  vertical-align: top !important;
}

header .navbar-brand {
  padding: 0;
}

.fishy {
  position: relative;
  padding-top: 5px;
  width: 50px;
  left: 15px;
}

.fishyText {
  position: relative;
  top: -35px;
  left: 70px;
}

/* ------------------ Main ------------------ */

main {
  position: relative;
  max-width: 720px;
  z-index: 1;
  background: white;
  padding: 60px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  width: 85%;
}

/* ------------------ Footer ------------------ */

footer {
  position: relative;
  z-index: 1;
  margin-top: 21px;
}

footer img {
  width: 50px;
  margin-right: 10px;
}

footer img:last-of-type {
  margin-right: 0;
}

.swim {
  width: 50px;
  height:50px;
  position:fixed;
  z-index: 1;
}

.navbar {
  border-radius: 0;
}

.footerImg {
  float: left;
  width: 50px;
}

footer {
  background-color: #2c3e50;
  color: #fff;
  padding-bottom: 21px;
}

footer a {
  margin-right: 10px;
}

footer a:last-of-type {
  margin-right: 0;
}

.block {
  display: block;
}

#googleMap {
  width: 100%;
  height: 200px;
}

/* ------------------ Media Queries ------------------ */

@media (max-width: 767px) {
  header ul {
    display: none;
  }

  #menuToggle {
    display: block;
  }

  #menuToggle:hover {
    color: #18bc9c;
  }

  #googleMap {
    width: 100%;
    height: 400px;
  }
}

@media (min-width: 768px) {

  header ul:not(.dropdown-menu) {
    display: inline !important;
  }
}
